<table class="wb-cellspace-1 wb-cellpad-3 wb-table" style="width: 100%;">
    <tr>
        <td class="MainMenuRow">
            <a class="MainMenuLink" href="/private-messages/send/">New Message</a> |
            <a class="MainMenuLink" href="/private-messages/">Unread Messages</a> |
            <a class="MainMenuLink" href="/private-messages/read/">Read Messages</a> |
            <a class="MainMenuLink" href="/private-messages/sent/">Sent Messages</a>
        </td>
    </tr>
</table>
