{% if model.error|default('') is not empty %}
<table class="wb-cellpad-15 wb-cellspace-0 wb-table" style="width: 100%;"><tr><td class="BoardRowB">
    {{ model.error }}
    {% if model.returnUrl|default('') is not empty %}<p><a class="BoardRowBLink" href="{{ model.returnUrl }}">{{ model.returnText|default('Continue') }}</a></p>{% endif %}
</td></tr></table>
{% else %}
<table class="wb-cellspace-1 wb-cellpad-3 BoardRowB wb-table" style="width: 100%;">
<tr>
    <td class="wb-valign-top" style="width: 250px; padding-right: 6px;">
        {% include 'partials/blog_user_info.twig' with {user: model.user} only %}
        <br>
        {% include 'partials/blog_sidebar.twig' with {title: 'My Controls', controls: model.controls|default([])} only %}
    </td>
    <td class="wb-valign-top">
        <table class="wb-table-center wb-cellpad-3 wb-cellspace-1 wb-table" style="width: 100%;">
            <tr><td colspan="2" class="BoardColumn"><strong>{{ model.user.username|default('Unknown') }}'s Blog</strong></td></tr>
            {% if model.user.locked|default(false) %}
                <tr><td colspan="2" class="BoardRowB" style="padding: 6px;">This blog is currently closed by its owner.</td></tr>
            {% elseif model.entries|default([]) is empty %}
                <tr><td colspan="2" class="BoardRowB" style="padding: 6px;">This user has not posted any blog entries yet.</td></tr>
            {% else %}
                {% for entry in model.entries|default([]) %}
                    {% include 'partials/blog_entry_row.twig' with {entry: entry} only %}
                {% endfor %}
            {% endif %}
        </table>
    </td>
</tr>
</table>
{% endif %}
