<table class="wb-cellspace-1 wb-cellpad-3 BoardRowB wb-usercp-workspace wb-table" style="width: 100%;">
    <tr class="wb-text-left wb-valign-top">
        <td class="wb-valign-top wb-usercp-nav-cell" style="width: 250px; width: 250px; min-width: 250px; max-width: 250px; padding-right: 6px;">
            {% include 'partials/usercp_menu.twig' with {model: model} only %}
        </td>
        <td class="wb-usercp-content wb-valign-top">
            <table class="wb-cellpad-0 wb-cellspace-1 wb-table" style="width: 100%;">
                <tr><td class="wb-text-left BoardColumn" style="width: 100%; height: 15px;">Edit Signature</td></tr>
                {% if model.message|default('') %}
                    <tr><td class="BoardRowA"><div class="wb-text-center"><b>{{ model.message }}</b></div></td></tr>
                {% endif %}
                <tr class="BoardRowB">
                    <td>
                        <form name="form1" method="post" action="/user-cp/signature/">
                            {% include 'partials/csrf_field.twig' %}
                            <p><strong>Signature:</strong><br>
                                Small amount of text shown at the bottom of each of your messages. 250 character limit per line. Markup codes are <strong>NOT</strong> allowed.
                            </p>
                            <p>
                                {% for i in 1..5 %}
                                    <input name="sig{{ i }}" type="text" id="sig{{ i }}" size="45" maxlength="250" value="{{ model.signatureParts[i - 1]|default('') }}"><br>
                                {% endfor %}
                                <input type="hidden" name="post" value="on">
                            </p>
                            <p><input type="submit" name="Submit" value="Submit" class="formsubmit"></p>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td class="MainMenuRow wb-text-right" style="height: 15px;"><input type="button" onclick="window.location.href='/';" value="Forum Index &raquo;" class="formsubmit" /> &nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
